.header {
    background: white;
    padding: 0;
    border-bottom: 1px solid #e72929;
}

button {
    color: #bf1313;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 1em;
}

button:hover {
    background: #e72929;
    color: white;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

button.logo {
    font-weight: bold;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li button {
    padding: 1em;
    display: inline-block;
}
